<div class="main">
  <div class="left-side">
    {{{ Link title="Профиль >" className="link-to-profile" to="/profile" }}}
    {{{ PopupButton class="add-chat-button" icon="add-icon" title="Добавить чат" onClick=addChatHandler }}}
    {{{ChatsList}}}
  </div>
  <div class="right-side">
    <div class="chat-info">

    </div>
    {{{MessagesList}}}
    <div class="messaging"></div>
  </div>
</div>
