@import '@styles/vars.scss';

.message-card {
  display: block;
  flex-direction: column;
  justify-content: flex-start;
  border-radius: 5px;
  padding: 0.5rem;
  max-width: 70%;
  box-shadow: 0 0 6px 0 rgb(0 0 0 / 14%);

  &_mine {
    align-self: flex-end;
    background-color: $c-card-my;
  }

  &_his {
    align-self: flex-start;
    background-color: $c-card-his;
  }

  &__user-name {
    color: $main-gray;
  }

  &__time {
    font-size: 10px;
    color: $main-gray;
  }
}
