@import "../../styles/vars";

.form-input {
  position: relative;

  hr {
    border: none;
    border-bottom: 1px solid $main-color;
    width: 100%;
    margin: 0;
    margin-top: -5px;
  }

  &__title {
    color: $main-gray;
    font-style: normal;
    font-weight: 500;
    font-size: 0.8rem;
    line-height: 1rem;
  }

  &__input {
    position: relative;
    outline: none;
    border: none;
    color: $main-black;
    font-style: normal;
    font-weight: 500;
    background-color: transparent;
    line-height: 2rem;
    font-size: 1rem;
  }
}
