<div class="signin-page">
  <form class="signin-form" action="">
    <span class="signin-form__title">Войти</span>
    {{{FormInput
      title="Логин"
      value="Timur"
      name="signin"
      ref="signin"
      validateFn=validateFunc.login
    }}}
    {{{FormInput
      title="Пароль"
      value="123456"
      name="password"
      ref="password"
      type="password"
      validateFn=validateFunc.password
    }}}
    <br />
    {{{FormButton title="Авторизоваться" linkTo="main" onClick=onSignin}}}
    {{{FormButton title="Нет аккаунта?" transparent=true linkTo="signup"}}}
  </form>
</div>
