<div class="signin-page">
  <form class="signin-form" action="">
    <span class="signin-form__title">Войти</span>
    {{{FormInput
      title="Логин"
      name="login"
      ref="login"
      validateFn=ValidateFunc.login
    }}}
    {{{FormInput
      title="Пароль"
      name="password"
      ref="password"
      type="text"
      validateFn=ValidateFunc.password
    }}}
    <br />
    {{{FormButton title="Авторизоваться" onClick=loginHandler}}}
    {{{FormButton
      title="Нет аккаунта?"
      transparent=true
      onClick=noAccountHandler
    }}}
  </form>
</div>
