@import "../../styles/vars";

.signin-page {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $main-background-for-auth;
  height: 100%;
  width: 100%;

  .signin-form {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    border-radius: 12px;
    background: $main-background-for-auth;
    box-shadow: 0 0 6px 0 rgb(0 0 0 / 14%);
    padding: 50px 30px 30px;
    max-height: 450px;
    box-sizing: border-box;
    max-width: min-content;

    &__title {
      margin-bottom: 2rem;
      color: $main-black;
      text-align: center;
      font-size: 20px;
      font-style: normal;
      font-weight: 500;
      line-height: 20px;
      cursor: default;
    }
  }
}
